.button {
    cursor: pointer;
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.button:hover {
    filter: brightness(110%);
}

.button.symbol {
    background-color: whitesmoke;
}

.button.action {
    background-color: lightsteelblue;
}
