.keyboard {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3 1fr);
    grid-template-areas: 
        "first first first first"
        "second second second second"
        "third third third third"
        "third third third third"
        "third third third third"
        "third third third third"
}

.firstSeg {
    display: grid;
    grid-area: first;
    grid-template-columns: repeat(4, 1fr);
}

.secondSeg {
    display: grid;
    grid-area: second;
    grid-template-columns: repeat(4, 1fr);
}

.thirdSeg {
    display: grid;
    grid-area: third;
    grid-template-columns: 3fr 1fr;
}

.numSeg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.actionSeg {
    display: grid;
    grid-template-rows: 1fr 3fr;
}
